.main_page {
  display: flex;
  padding: 32px 60px 60px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  width: 100%;
}
.main_content {
  display: grid;
  grid-template-columns: auto auto;
  /*display: flex;*/
  /*justify-content: space-between;*/
  width: 1470px;

  /*width: 100%;*/
  gap: 32px;
}
