@import "@/assets/styles/fonts.css";
@import "@/assets/styles/variables.css";
@import "@/assets/styles/auth/auth.css";
@import "@/assets/styles/sidebar/sidebar.css";
@import "@/assets/styles/home/mainPage.css";
@import "@/assets/styles/home/heading.css";
@import "@/assets/styles/home/center.css";
@import "@/assets/styles/home/your_page.css";
@import "@/assets/styles/home/recommended.css";
@import "@/assets/styles/right/events.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body {
  overflow-x: hidden;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--Text-300);
  border-radius: 15px;
}
